<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Create recipe</title>
    </head>
    <body>
        <h1>Create recipe</h1>
        <form method="post">
            <p>Name: <input type="text" name="name"></p>
            <p>numbers_of_servings: <input type="number" name="numbers_of_servings"></p>
            <p>cooking_time: <input type="number" name="cooking_time"></p>
            <p>description: <input type="text" name="description"></p>
            <p><input type="submit" value="Create"></p>
        </form>
    </body>
</html>