<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Posts</title>
    </head>
    <body>
        <h1>Posts</h1>
        {% for post in posts %}
            <p>------------------------------------</p>
            <p>Name: {{ post.name }}</p>
            <p>author: {{ post.author }}</p>
            <p>description: {{ post.description }}</p>
            <p>category: {{ post.category.name }}</p>
            <p>recipe: {{ post.recipe.name }}</p>
            <p>------------------------------------</p>
        {% endfor %}
    </body>
</html>